<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="demo.example.com.accessibility_service">

    <application>
        <service android:name=".SampleAccessibilityService"
                 android:label="Sample辅助功能服务"
                 android:exported="true"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                 android:process=":AccessibilityService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_config"/>
        </service>
    </application>

</manifest>
